

.img-container{
    padding-top: 10rem;
    padding-left: 5rem;
    background-image: url(../assets/img/ccc.jpg);
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

.image-logo{
   
    width: 150px;
    margin-bottom: 2rem;
    /* position: absolute; */
}

.aboutUs{
    max-width: 450px;
    color: #FFFFFF;
    /* position: absolute; */
   
}

.img-container .aboutUs h2{
    font-size: 1.5rem;
    color: #9FEADD;
}

.section-about{
    width: 100%;
    padding: 2rem;
}

@media (min-width: 768px) {
    .contenedor-mision{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .mision{
        
        width: 450px;
        color: #FFFFFF;
    }

    .mision h2{
        font-size: 1.5rem;
        color: #9FEADD;
    }
 
    
    .confianza{
        width: 450px;
        color: #FFFFFF;
        
    }
    .confianza h2{
        font-size: 1.5rem;
        color: #9FEADD;
    }
    
    .seguridad{
        width: 450px;
        color: #FFFFFF;  
        
    }
    
    .seguridad h2{
        font-size: 1.5rem;
        color: #9FEADD;      
    }
}

.mision{
    
    color: #FFFFFF;
    margin-bottom: 2rem;
   
}
.mision h2{
    font-size: 1.5rem;
    color: #9FEADD;
}

.confianza{
    
    color: #FFFFFF;
    margin-bottom: 2rem;
   
}

.confianza h2{
    font-size: 1.5rem;
    color: #9FEADD;
}

.seguridad{
   
   color: #FFFFFF;
   padding-bottom: 2rem; 
    
}

.seguridad h2{
    font-size: 1.5rem;
    color: #9FEADD;
   
}
