.games{
    width: 100%;
    position: relative;
    /* background: linear-gradient(90deg, rgba(13,26,44,1) 22%, rgba(56,116,142,1) 50%, rgba(13,26,44,1) 78%);    width: 100%; */

}

.image-games{
    width: 100%;
    /* position: relative;
    justify-content: space-around; */
}

.image-games img{
    width: 100%;
}

.games-container {
    /* height: 100%;
    display: block;
    position: relative; */
    width: 70%;
    display: block;
}

.games-container .cards{
    position: relative;
    top: -250px;
    left: 35%;
}

.title-tienda{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    top: -5rem;

}

.title-tienda h2{
    color: #9FEADD;
    font-size: 2.5rem;
    top: -200px;
    left: 5.5rem;
    position: relative;
    justify-content: center;
    display: flex;
    font-weight: 600;
}

.title-tienda .filter{
    display: flex;
    flex-direction: column;
    
}

.title-tienda .filter h3{
    color: #9FEADD;
    font-size: 1.5rem;
    position: relative;
}

@media (max-width: 1200px) {
    .image-games{
        position: relative;
        
    }
    .image-games button{
        display: none;
    }
}

@media (max-width: 700px) {
    .title-tienda h2{
        position: relative;
        top: -100px;
    }
    .filter{
        position: relative;
        top: 100px;
    }
}


@media (min-width: 200px) and (max-width: 500px)  {
    .games-container{
        width: 100%;
    }
    .games-container .filter{
        display: none;
    }
    .games-container .cards{
        position: relative;
        top: 0;
        left: 0;
    }
    .title-tienda h2{
        display: none;
    }
}