.hero{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,12,95,1) 50%, rgba(0,0,0,1) 100%);    

  }
  
  ul,
  li {
    list-style: none;
    white-space: nowrap;
  }
  
  li {
    height: 100vh;
    display: block;
  }
  
  .hero-img{
    object-fit: cover;
    overflow: hidden;
    filter: brightness(50%);
  }

  
  /* Main container */
  
  .main-container {
    height: 100vh;
  }
  
  /* Slider container */
  .slider-container {
    position: relative;
    height: 100%
  }
  
  
  /* Arrows */
  .leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 50px;
    font-weight: 700;
    color: #9BFFF3;
    z-index: 1;
    cursor: pointer;
  }
  
  .rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 50px;
    font-weight: 700;
    color: #9BFFF3;
    z-index: 1;
    cursor: pointer;
  }
  
  .text-container{
    width: 350px;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 10%;
  }
  .text-container .img-hero{
    width: 160px;
    
  }
  .text-container .title{
    width: 100%;
    color: white;
    font-size: 2rem;
    
  }
  .text-container .text{
    color: white;
    font-size: 1rem;
  }
  
  .container-images {
    height: 100%;
    overflow: hidden;
  }


.novedades{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,12,95,1) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10rem;
}

.novedades .novedades-title{
    color: #9BFFF3;
    font-size: 3rem;
    align-items: center;
    margin: 1rem auto;
}

.novedades .novedades-container{
    flex-direction: row;
    display: flex;
    gap: 2rem;
    margin: auto;
    justify-content: space-around;
    
    
}




@media (max-width:738px){

    .leftArrow{
      font-size: 25px;
      display: none;
    }
    .rightArrow{
      font-size: 25px;
      display: none;
    }
    .container-images{
      display: none;
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,12,95,1) 50%, rgba(0,0,0,1) 100%);    
    }
    .text-container{
      width: 280px;
      top: 10%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      position: relative;
      left: 0;

    }
    .text-container .img-hero{
      width: 80px;
      margin: auto;
    }
    .text-container .text{
      font-size: 1rem;
      margin-top: 1.5rem;
    }
    .text-container .title{
      font-size: 1.8rem;
      margin: auto;
      padding-top: 3rem;
    }
    .novedades{
      height: 100%;
    }
    .novedades .novedades-container{
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    
}