.register{
    padding: 5rem 0 0;
    height: 130vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(13,26,44,1) 22%, rgba(56,116,142,1) 50%, rgba(13,26,44,1) 78%);}


.image-container{
    width: 50%;
    
}


.image-container img{
   
    width: auto;
}

@media (max-width: 1000px) {
    .image-container{
        display: none;
    }
    .register{
        padding: 0;
    }
}

.register-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bg-register{
    background-color: #1B314E;
    width: auto;
    padding: 4rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 1rem;
    position: absolute;
}
form{
    gap: .5rem;
}

form h1{
    margin: auto;
    color: #9BFFF3;
    font-size: 2.5rem;
    font-weight: 600;
}
form p{
    width: 14rem;
    
}
